.container{
    display:grid;
    grid-gap:5px;
    max-width:1000px;
    grid-template-rows:repeat(6,90px);
    grid-template-columns:repeat(12,1fr);
    width:90%;
    margin:2rem auto;
    color:white;
    text-align:center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
div{
    background-color:greenyellow;
}
.rone{
    grid-column:span 12;
}
.rtwo{
    grid-column:span 6;
}
.rthree{
    grid-column:span 4;
}
.rfour{
    grid-column:span 3;
}
.rfive{
    grid-column:span 2;
}